.content {
  margin: 0;
  align-content: center;
}
.title__format {
  font-family: Inter;
  font-weight: 500;
  font-size: 65px;
  line-height: 76px;
  letter-spacing: 0;
}
.place-subtitle {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.place-subtitle::before {
  content: "ARTISTAS";
}
.content__places {
  max-width: 1000px;
  margin: auto;
  /* border: 1px red solid; */
  padding: 0;
}
.content__place {
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 20% 18% auto;
  column-gap: 3%;
  /* border: 1px greenyellow solid; */
  padding-top: 1%;
  height: 150vh;
  margin: 0;
}
.content__photo-button {
  /* border: 1px red solid; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10%;
  height: auto;
  margin: 0;
}
.content__photo-grid {
  width: 95vw;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  margin-top: 5vh;
  /* border: 1px red solid;
  background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 1%;
  column-gap: 1%;
}
.content__photo-container {
  /* border: 1px greenyellow solid; */
  width: 98%;
}

@media screen AND (max-width: 768px) {
  .content__photo-grid {
    grid-template-columns: 1fr 1fr;
  }
  .title-format {
    font-size: 40px;
  }
}

@media screen AND (max-width: 320px) {
  .content__photo-grid {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .title-format {
    font-size: 20px;
    font-weight: 200;
  }
  .content__place {
    display: block;
  }
}
