.header {
  text-align: center;
}
.header__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  margin: 0;
  /* border: 1px red solid; */
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.header__subtitle {
  font-family: Inter, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
}

.header__image {
  width: 80%;
  margin: 0 auto;
  box-shadow: 10px 10px 25px 0px #00000080;
}

@media screen AND (max-width: 768px) {
  .header__title {
    font-size: 45px;
    font-weight: 100;
    line-height: 1;
  }
  .header__subtitle {
    font-size: 17px;
    font-weight: 10;
    line-height: 1;
  }
  .header__image {
    width: 98%;
  }
}
@media screen AND (max-width: 320px) {
  .header__title {
    height: auto;
    font-size: 15px;
    line-height: 50px;
    height: 10vh;
  }
  .header__subtitle {
    font-size: 6px;
    line-height: 10px;
    font-weight: 30;
  }
}
