.intro {
  width: 80%;
  margin: 0 auto;
}
.intro__title {
  font-family: Inter, Arial, sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.5;
}
.intro__cita {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.intro__cita_theme_autor {
  width: 80vw;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}
.intro__texto {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.intro__cita-author {
  width: 80vw;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}

@media screen AND (max-width: 768px) {
  .intro__title {
    font-size: 25px;
    /* border: 1px aqua solid; */
  }
  .intro__cita {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.1;
    text-align: right;
  }
  .intro__cita-author {
    font-size: 12px;
    font-weight: 200;
    line-height: 1.1;
    text-align: right;
  }
  .intro__texto {
    font-size: 10px;
    font-weight: 20;
  }
}
@media screen AND (max-width: 320px) {
  .intro__title {
    font-size: 15px;
    line-height: 1.2;
  }
  .intro__cita {
    font-size: 8px;
    line-height: 1;
    font-weight: 20;
  }
  .intro__cita-author {
    font-size: 8px;
    font-weight: 20;
  }
  .intro__texto {
    font-size: 7px;
    width: 90%;
  }
}
