.page {
  background-color: black;
  color: white;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
}
.page__logo {
  width: 255px;
  height: 68px;
  margin: 0 auto 91px;

  padding-top: 34px;
}
