.page {
  background-color: #2a2c2f;
  color: white;
  display: flex;
  flex-direction: column;
}
.page__logo {
  width: 30vw;
  height: 200px;
  /* height: 68px; */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  /* align-content: center; */
}
.page__logo-container {
  width: 30vw;
  height: 200px;
  /* border: 1px blueviolet solid; */
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
@media screen AND (max-width: 768px) {
  .page__logo-container {
    height: 100px;
  }
}

@media screen AND (max-width: 560px) {
  .page__logo-container {
    margin-bottom: 10px;
  }
}
